Tutorial.Client.ServiceAdapter/Service References/ForumWcfService/ForumWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61621/ForumWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tutorial.Domain" />
  <xs:element name="SaveForum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tutorial.Domain" minOccurs="0" name="SaveForumResult" nillable="true" type="q1:Forum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tutorial.Domain" minOccurs="0" name="UpdateForumResult" nillable="true" type="q2:Forum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteForumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tutorial.Domain" minOccurs="0" name="GetForumResult" nillable="true" type="q3:Forum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountForum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountForumResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListForum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListForumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tutorial.Domain" minOccurs="0" name="ListForumResult" nillable="true" type="q4:ArrayOfForum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>