Tutorial.Client.ServiceAdapter/Service References/ForumWcfService/ForumWcfServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ForumWcfServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61621/ForumWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61621/ForumWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61621/ForumWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tutorial.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IForumWcfService_SaveForum_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveForum" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_SaveForum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveForumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_UpdateForum_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateForum" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_UpdateForum_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateForumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_DeleteForum_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteForum" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_DeleteForum_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteForumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_GetForum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForum" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_GetForum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_CountForum_InputMessage">
    <wsdl:part name="parameters" element="tns:CountForum" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_CountForum_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountForumResponse" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_ListForum_InputMessage">
    <wsdl:part name="parameters" element="tns:ListForum" />
  </wsdl:message>
  <wsdl:message name="IForumWcfService_ListForum_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListForumResponse" />
  </wsdl:message>
  <wsdl:portType name="IForumWcfService">
    <wsdl:operation name="SaveForum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumWcfService/SaveForum" message="tns:IForumWcfService_SaveForum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumWcfService/SaveForumResponse" message="tns:IForumWcfService_SaveForum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumWcfService/UpdateForum" message="tns:IForumWcfService_UpdateForum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumWcfService/UpdateForumResponse" message="tns:IForumWcfService_UpdateForum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteForum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumWcfService/DeleteForum" message="tns:IForumWcfService_DeleteForum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumWcfService/DeleteForumResponse" message="tns:IForumWcfService_DeleteForum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumWcfService/GetForum" message="tns:IForumWcfService_GetForum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumWcfService/GetForumResponse" message="tns:IForumWcfService_GetForum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountForum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumWcfService/CountForum" message="tns:IForumWcfService_CountForum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumWcfService/CountForumResponse" message="tns:IForumWcfService_CountForum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListForum">
      <wsdl:input wsaw:Action="http://tempuri.org/IForumWcfService/ListForum" message="tns:IForumWcfService_ListForum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IForumWcfService/ListForumResponse" message="tns:IForumWcfService_ListForum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IForumWcfService" type="tns:IForumWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveForum">
      <soap:operation soapAction="http://tempuri.org/IForumWcfService/SaveForum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForum">
      <soap:operation soapAction="http://tempuri.org/IForumWcfService/UpdateForum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForum">
      <soap:operation soapAction="http://tempuri.org/IForumWcfService/DeleteForum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForum">
      <soap:operation soapAction="http://tempuri.org/IForumWcfService/GetForum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountForum">
      <soap:operation soapAction="http://tempuri.org/IForumWcfService/CountForum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListForum">
      <soap:operation soapAction="http://tempuri.org/IForumWcfService/ListForum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForumWcfServiceImpl">
    <wsdl:port name="BasicHttpBinding_IForumWcfService" binding="tns:BasicHttpBinding_IForumWcfService">
      <soap:address location="http://localhost:61621/ForumWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>