Tutorial.Client.ServiceAdapter/Service References/ForumWcfService/ForumWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tutorial.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tutorial.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Forum">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Modification" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Forum" nillable="true" type="tns:Forum" />
  <xs:complexType name="ArrayOfForum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Forum" nillable="true" type="tns:Forum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForum" nillable="true" type="tns:ArrayOfForum" />
</xs:schema>